@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+TC&family=Roboto&display=swap');

:root {
    --dark-grey: #1d2025;
    --blue-grey-900: #0f172a;
    --blue-grey-800: #1e293b;
    --blue-grey-700: #334155;
    --blue-grey-600: #475569;
    --blue-grey-500: #64748b;
    --blue-grey-400: #94a3b8;
    --blue-grey-300: #cbd5e1;
    --blue-grey-200: #e2e8f0;
    --blue-grey-100: #f1f5f9;
    --blue-grey-50: #f8fafc;
    --chartreuse: #b9efa4;
    --green: #cceebf;
    --turquoise: #17e0cd;
    --camel: #efc9a4;
    --pink: #f59cba;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* inbox panel */

.inbox-content {
    width: 100vw;
}

.inbox-bg-overlay {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-grey);
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1.2fr 8.8fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
}

.inbox-header {
    background-color: var(--blue-grey-700);
    width: 100%;
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
}

.inbox-header .header-logo {
    filter: invert();
    padding-left: 1%;
}

.inbox-header .header-h1 {
    color: var(--blue-grey-200);
    font-size: 36px;
    height: 40%;
}

.inbox-sidebar {
    background-color: var(--blue-grey-800);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 3fr 7fr;
}

.upcoming-events-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.upcoming-events-div .sidebar-date-button {
    display: flex;
    width: 85%;
    background-color: var(--blue-grey-800);
    color: var(--blue-grey-200);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px 16px 6px 16px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.upcoming-events-div button:hover, .upcoming-events-div button:active {
    background-color: var(--blue-grey-900);
}

.icon {
    filter: invert();
    width: 24px;
    height: 24px;
}

.sidebar-project-div {
    display: grid;
    grid-template-rows: repeat(auto-fit, 40px);
    row-gap: 8px;
}

.sidebar-project-div .sidebar-project-h2 {
    color: var(--blue-grey-200);
    padding: 6px 24px 6px 24px;
    font-size: 24px;
}

.sidebar-project-div .sidebar-project-button {
    display: flex;
    width: 85%;
    background-color: var(--blue-grey-800);
    color: var(--blue-grey-200);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px 16px 6px 16px;
    position: relative;
    left: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.sidebar-project-div .sidebar-project-button:hover,
 .sidebar-project-div .sidebar-project-button:active {
    background-color: var(--blue-grey-900);
}

main {
    grid-area: main;
    padding: 5% 10% 0% 10%;
    display: grid;
    grid-template-rows: 5% repeat(auto-fit, 40px);
    row-gap: 16px;
}

.list-title-h1 {
    color: var(--blue-grey-200);
}

.add-task-button {
    display: flex;
    background-color: var(--chartreuse);
    color: var(--blue-grey-800);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-task-button:hover, .add-task-button:active {
    background-color: var(--green);
}

.add-task-icon {
    width: 24px;
    height: 24px;
}